*{

    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* STYLING AF HOME */

/* baggrund for hjemmeside til mobil version */
/* styling af header på "HOME" */

header{
    min-height: 100vh;
    width: 100%;
    background-image: url(img/header-background-mobil.png);
    background-position: center;
}

/* logo til navbar */

nav img{
    width: 100px;
}

/* navbar til mobilform */
/* placering af navlinksne (padding, justify-content og align-items */

nav{
    display: flex;
    padding: 2% 0% 2% 15%;
    justify-content: space-between;
    align-items: center;
}

/* links i navbaren */
/* placering af de forskellige navlinks*/

.nav-links ul{
    display: block;
    padding: 30px;
    text-align: center;
}

/* styling af navlinks, herunder fjerne punktform, fontsvalg og størrelse */

.nav-links ul li{
    display: block;
    list-style: none;
    font-size: 20px;
    font-family: 'Julius Sans One', sans-serif;
    padding-top: 20px;
}

/* styling af navlinks, herunder fjerne link linjen og farve på fonts  */

.nav-links ul li a{
    color: #707070;
    text-decoration: none;
}

/* stylling af header-text på side "HOME" */

.header-text-home{
    padding: 9rem 3rem;
}

h1{
    font-family: 'Julius Sans One', sans-serif;
    color: #707070;
    text-transform: uppercase;
}

p{
    font-family: 'Tajawal';
    color: #707070;
}

.header-text-home hr{
    width: 150px;
}

/* styling af SoMe ikoner */

.header-text-home img{
    padding-top: 20px;
    width: 30px;
}

/* styling i section "MY WORK" */

h2{
    font-family: 'Julius Sans One' sans-serif;
    color: #707070;
    text-transform: uppercase;
}

.my-work hr{
    width: 150px;
    margin-left: 100px;
}

.my-work{
    text-align: center;
    margin-bottom: 5rem;
}

.my-work h2{
    padding-top: 5rem;
    text-transform: uppercase;
}

.my-work img{
    width: 250px;
    padding-top: 10px;
}






/* STYLING TIL "ABOUT" */

/* ny baggrundsbillede */

.header-a-c{
    background-image: none;
    background-color: #D3E8EF;
}

/* tekst til header */

.header-text{
    text-align: center;
    padding: 10rem 3rem;
}

.header-text p{
    padding-top: 20px;
}

.header-text hr{
    width: 150px;
    margin-left: 50px;
}

/*ny sektion ABOUT ME */

.about-me{
    padding: 0 3rem 0 3rem;
    margin-bottom: 5rem;
}

.about-me h2{
    padding-bottom: 20px;
    padding-top: 30px;
    text-align: center;
}

.about-me p{
    padding-bottom: 30px;
}

.about-me .picture img{
    width: 200px;
    border-radius: 100%;
}

.about-me .picture{
    text-align: center;
    padding-top: 2rem;
}

/* styling af cv knappen */

.btn{
    display: inline-block;
    text-decoration: none;
    color: #707070;
    background-color: #B4BF8C;
    padding: 10px 30px;
    cursor: pointer;
    font-family: 'Julius Sans One', sans-serif;
}

.btn:hover{
    background: #D3E8EF;
    transition: 0.5s;
}






/* STYLING AF CONTACT */
/* ny sektion CONTACT INFO */

.contact-info{
    margin-bottom: 5rem;
}

.contact-info .text{
    padding: 8rem 3rem 3rem 3rem;
}

.contact-info .text hr{
    width: 200px;
}

.contact-info .text img{
    width: 20px;
    padding-top: 10px;
}

.contact-info .text p{
    padding-top: 20px;
}

.message-box{
    margin: 0 3rem;
}

/* kontakt box taget fra https://www.w3schools.com/howto/howto_css_contact_form.asp .
starter her fra */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 0,5px solid #707070;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: 'Tajawal';
  }

  /* kontakt box taget fra https://www.w3schools.com/howto/howto_css_contact_form.asp .
    slutter her */





/*STYLING TIL PHOTOGRAPHY*/

.header-portfolio{
    background-image: none;
}

.header-portfolio hr{
    width: 200px;
    margin-left: 10%;
}

.kyoto{
    background-color: #D3E8EF;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.photo{
    text-align: center;
}

img{
    width: 280px;
    padding-top: 10px;
}

.kyoto .text{
    padding: 1rem 2.5rem;
}

.kyoto .text h4{
    padding-top: 20px;
}

.takayama .text{
    padding: 1rem 2.5rem;
}

h3{
    font-family: 'Julius Sans One' sans-serif;
    color: #707070;
    text-transform: uppercase;
}

hr{
    width: 200px;
}

.takayama{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.takayama .text h4{
    padding-top: 20px;
}






/*STYLING AF ILLUSTRATION*/

.traveling{
    background-color: #D3E8EF;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.traveling .text{
    padding: 1rem 2.5rem;
}

.traveling .text h4{
    padding-top: 20px;
}




/* STYLING AF ANIMATION */

.some-content{
    background-color: #B4BF8C;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.some-content .text{
    padding: 1rem 2.5rem;
}

.some-content hr{
    width: 250px;
}

.some-content h3{
    padding: 1rem 2.5rem;
}




/* STYLING AF WEBSITE*/

h4{
    font-family: 'Tajawal';
    color: #707070;
}

.call-me-handy h3{
    padding: 1rem 2.5rem;
}

.call-me-handy .text{
    padding: 1rem 2.5rem;
}


.hotel-alien .text{
    padding: 1rem 2.5rem;
}

.hotel-alien h3{
    padding: 1rem 2.5rem;
}


.den-kinesiske-butik .text{
    padding: 1rem 2.5rem;
}

.den-kinesiske-butik h3{
    padding: 1rem 2.5rem;
}

.btn-website{
    display: inline-block;
    text-decoration: none;
    color: #707070;
    background-color: #B4BF8C;
    padding: 10px 30px;
    cursor: pointer;
    font-family: 'Julius Sans One', sans-serif;
    margin: 1rem 2.5rem; 
}

.btn-website:hover{
    background: #D3E8EF;
    transition: 0.5s;
}




/* TIL COMPUTER */

@media (min-width: 1000px) {

    
    
    /* STYLING TIL "HOME" */
    /* styling af header på "HOME" */

    p{
        font-size: 18px;
    }
    
    header{
        display: block;
        background-image: url(img/header-background.png);
    }

    /* flytter navbaren */

    nav{
        padding: 2% 5% 2% 15%;
    }

      /* stylling af linksne, hvor placering der bliver mellemrum mellem de forskellig links*/

    .nav-links ul li{
        display: inline-block;
        padding: 7px 25px;
    }

    /* hover effekt på links*/

    ul li::after{
        content: '';
        width: 0%;
        height: 1px;
        background: #707070;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    
    ul li:hover::after{
        width: 100%;
    }
    
    /* placering af header teksten til computerskærm */
    
    .header-text-home{
        padding: 8rem 17rem;
    }

    /* ny sektion MY WORK */

    .my-work{
        min-height: 100%;
        text-align: center;
        margin-bottom: 0;
    }

    .my-work h2{
        padding-top: 3rem;
    }

    .my-work hr{
        width: 200px;
        margin-left: 42%;
    }

    .my-work .portfolio-icon{
        padding-top: 20px;
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }




    /* STYLING TIL ABOUT */

    .header-text hr{
        width: 200px;
        margin-left: 41%;
    }

    /*ny sektion ABOUT ME */

    .about-me{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 3rem;
        padding: 5% 20% 0 20%;
        margin-bottom: 9rem;
    }

    .about-me .picture img{
        width: 300px;
        padding-top: 50px;
    }

    .about-me p{
        font-size: 16px;
    }




    /*STILYNG TIL CONTACT*/
    .contact-info{
        display: flex;
        padding: 5% 15% 0 15%;
    }

    .contact-info .text{
        padding: 0.5rem 3rem 3rem 3rem;
    }



    /*STILYNG TIL PHOTOGRAPHY*/
    
    .kyoto .text{
        padding: 1rem 6.5rem;
    }
    
    .takayama .text{
        padding: 1rem 6.5rem;
    }

    img{
        width: 350px;
    }







    /*STYLING TIL ILLUSTRATION*/
    .traveling .text{
        padding: 1rem 6.5rem;
    }

    .traveling img{
        width: 350px;
    }




    /* STYLING TIL ANIMATION */

    .some-content .text{
        padding: 1rem 9rem;
    }

    .some-content img{
        width: 350px;
    }

    .some-content hr{
        width: 400px;
    }

    .some-content h3{
        padding: 1rem 6.5rem;
    }




    /* STYLING AF WEBSITE*/

    .header-text hr{
        width: 300px;
        margin-left: 430px;
    }

    .call-me-handy{
        margin-bottom: 5rem;
    }

    .call-me-handy .photo {
        margin: 0 6.5rem;
        display: grid;
        grid-auto-columns: repeat(12,1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "cmh1 cmh1 cmh1 cmh1 cmh1 cmh1 cmh2 cmh2 cmh2 cmh2 cmh2 cmh2"
        "cmh1 cmh1 cmh1 cmh1 cmh1 cmh1 cmh3 cmh3 cmh3 cmh3 cmh3 cmh3";
    }

    .call-me-handy .photo img {
        margin: 0;
        padding: 0;
    }

    .cmh1 {
        grid-area: cmh1;
        width: 100%;
    }
    .cmh2 {
        grid-area: cmh2;
        width: 100%;
    }
    .cmh3 {
        grid-area: cmh3;
        width: 100%;
    }
    
    .call-me-handy .text{
        padding: 1rem 9rem;
    }

    .call-me-handy h3{
        padding: 1rem 6.5rem;
    }



    .hotel-alien{
        margin-bottom: 5rem;
    }

    .hotel-alien .photo {
        margin: 0 6.5rem;
        display: grid;
        grid-auto-columns: repeat(12,1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "ha2 ha2 ha2 ha2 ha2 ha2 ha1 ha1 ha1 ha1 ha1 ha1"
        "ha3 ha3 ha3 ha3 ha3 ha3 ha1 ha1 ha1 ha1 ha1 ha1";
    }

    .hotel-alien .photo img {
        margin: 0;
        padding: 0;
    }

    .ha1 {
        grid-area: ha1;
        width: 100%;
    }
    .ha2 {
        grid-area: ha2;
        width: 100%;
    }
    .ha3 {
        grid-area: ha3;
        width: 100%;
    }
    
    .hotel-alien .text{
        padding: 1rem 9rem;
    }

    .hotel-alien h3{
        padding: 1rem 6.5rem;
    }



    .den-kinesiske-butik{
        margin-bottom: 5rem;
    }

    .den-kinesiske-butik .photo {
        margin: 0 6.5rem;
        display: grid;
        grid-auto-columns: repeat(12,1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "dkb1 dkb1 dkb1 dkb1 dkb1 dkb1 dkb2 dkb2 dkb2 dkb2 dkb2 dkb2"
        "dkb1 dkb1 dkb1 dkb1 dkb1 dkb1 dkb3 dkb3 dkb3 dkb3 dkb3 dkb3";
    }

    .den-kinesiske-butik .photo img {
        margin: 0;
        padding: 0;
    }

    .dkb1 {
        grid-area: dkb1;
        width: 100%;
    }
    .dkb2 {
        grid-area: dkb2;
        width: 100%;
    }
    .dkb3 {
        grid-area: dkb3;
        width: 100%;
    }
    
    .den-kinesiske-butik .text{
        padding: 1rem 9rem;
    }

    .den-kinesiske-butik h3{
        padding: 1rem 6.5rem;
    }

    .btn-website{
        margin: 1rem 9rem; 
    }


}