*{

    margin: 0;
    padding: 0;
}

/* STYLING AF HOME */

/* baggrund for hjemmeside til mobil version */
/* styling af header på "HOME" */

header{
    min-height: 100vh;
    width: 100%;
    background-image: url(img/header-background-mobil.png);
    background-position: center;
    position: relative;
}

/* logo til navbar */

nav img{
    width: 100px;
}

/* navbar til mobilform */
/* placering af navlinksne (padding, justify-content og align-items */

nav{
    display: flex;
    padding: 2% 0% 2% 15%;
    justify-content: space-between;
    align-items: center;
}

/* links i navbaren */
/* placering af de forskellige navlinks*/

.nav-links ul{
    display: block;
    padding: 30px;
    text-align: center;
}

/* styling af navlinks, herunder fjerne punktform, fontsvalg og størrelse */

.nav-links ul li{
    display: block;
    list-style: none;
    font-size: 20px;
    font-family: 'Julius Sans One', regular;
    padding-top: 20px;
}

/* styling af navlinks, herunder fjerne link linjen og farve på fonts  */

.nav-links ul li a{
    color: #707070;
    text-decoration: none;
}

/* stylling af header-text på side "HOME" */

.header-text-home{
    padding: 13rem 3rem;
}

h1{
    font-family: 'Julius Sans One', regular;
    color: #707070;
    text-transform: uppercase;
}

p{
    font-family: 'Tajawal';
    color: #707070;
}

.header-text-home hr{
    width: 150px;
}

/* styling af SoMe ikoner */

.header-text-home img{
    padding-top: 20px;
    width: 30px;
}

/* styling i section "MY WORK" */

h2{
    font-family: 'Julius Sans One';
    color: #707070;
    text-transform: uppercase;
}

.my-work hr{
    width: 150px;
    margin-left: 100px;
}

.my-work{
    text-align: center;
    margin-bottom: 5rem;
}

.my-work h2{
    padding-top: 5rem;
    text-transform: uppercase;
}

.my-work img{
    width: 250px;
    padding-top: 10px;
}





/* STYLING TIL "ABOUT" */

/* ny baggrundsbillede */

.header-a-c{
    background-image: none;
    background-color: #D3E8EF;
}

/* tekst til header */

.header-text{
    text-align: center;
    padding: 10rem 3rem;
}

.header-text p{
    padding-top: 20px;
}

.header-text hr{
    width: 150px;
    margin-left: 50px;
}

/*ny sektion ABOUT ME */

.about-me{
    padding: 0 3rem 0 3rem;
    margin-bottom: 5rem;
}

.about-me h2{
    padding-bottom: 20px;
    padding-top: 30px;
    text-align: center;
}

.about-me p{
    padding-bottom: 30px;
}

.about-me .picture img{
    width: 200px;
    border-radius: 100%;
}

.about-me .picture{
    text-align: center;
    padding-top: 2rem;
}

/* styling af cv knappen */

.btn{
    display: inline-block;
    text-decoration: none;
    color: #707070;
    background-color: #B4BF8C;
    padding: 10px 30px;
    cursor: pointer;
    font-family: 'Julius Sans One', regular;
}

.btn:hover{
    background: #D3E8EF;
    transition: 0.5s;
}






/* STYLING AF CONTACT */
/* ny sektion CONTACT INFO */

.contact-info{
    margin-bottom: 5rem;
}

.contact-info .text{
    padding: 8rem 3rem 3rem 3rem;
}

.contact-info .text hr{
    width: 200px;
}

.contact-info .text img{
    width: 20px;
    padding-top: 10px;
}

.contact-info .text p{
    padding-top: 20px;
}

.message-box{
    margin: 0 3rem;
}




/*STYLING TIL PHOTOGRAPHY*/

.header-portfolio{
    background-image: none;
}

section{
    background-color: #B4BF8C;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.photo{
    text-align: center;
}

img{
    width: 280px;
    padding-top: 10px;
}

.text{
    padding: 1rem 3rem;
}

h3{
    font-family: 'Julius Sans One';
}

hr{
    width: 200px;
}

/* kontakt box taget fra https://www.w3schools.com/howto/howto_css_contact_form.asp .
starter her fra */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 0,5px solid #707070;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: 'Tajawal';
  }

  /* kontakt box taget fra https://www.w3schools.com/howto/howto_css_contact_form.asp .
    slutter her */




/* TIL COMPUTER */

@media (min-width: 1000px) {

    
    
    
    /* STYLING TIL "HOME" */
    /* styling af header på "HOME" */

    p{
        font-size: 18px;
    }
    
    header{
        display: block;
        background-image: url(img/header-background.png);
    }

    /* flytter navbaren */

    nav{
        padding: 2% 5% 2% 15%;
    }

      /* stylling af linksne, hvor placering der bliver mellemrum mellem de forskellig links*/

    .nav-links ul li{
        display: inline-block;
        padding: 7px 25px;
    }

    /* hover effekt på links*/

    ul li::after{
        content: '';
        width: 0%;
        height: 1px;
        background: #707070;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    
    ul li:hover::after{
        width: 100%;
    }
    
    /* placering af header teksten til computerskærm */
    
    .header-text-home{
        padding: 13rem 13rem;
    }

    /* ny sektion MY WORK */

    .my-work hr{
        width: 200px;
        margin-left: 42%;
    }

    .my-work .portfolio-icon{
        padding-top: 20px;
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }




    /* STYLING TIL ABOUT */

    .header-text hr{
        width: 200px;
        margin-left: 40%;
    }

    /*ny sektion ABOUT ME */

    .about-me{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 3rem;
        padding: 5% 15% 0 15%;
    }

    .about-me .picture img{
        width: 300px;
        padding-top: 50px;
    }


    /*STILYNG TIL CONTACT*/
    .contact-info{
        display: flex;
        padding: 5% 15% 0 15%;
    }


}