*{

    margin: 0;
    padding: 0;
}

/* STYLING AF HOME */

/* baggrund for hjemmeside til mobil version */
/* styling af header på "HOME" */

header{
    min-height: 100vh;
    width: 100%;
    background-image: url(img/header-background-mobil.png);
    background-position: center;
    position: relative;
}

/* logo til navbar */

nav img{
    width: 100px;
}

/* navbar til mobilform */
/* placering af navlinksne (padding, justify-content og align-items */

nav{
    display: flex;
    padding: 2% 0% 2% 15%;
    justify-content: space-between;
    align-items: center;
}

/* links i navbaren */
/* placering af de forskellige navlinks*/

.nav-links ul{
    display: block;
    padding: 30px;
    text-align: center;
}

/* styling af navlinks, herunder fjerne punktform, fontsvalg og størrelse */

.nav-links ul li{
    display: block;
    list-style: none;
    font-size: 20px;
    font-family: 'Julius Sans One', regular;
    padding-top: 20px;
}

/* styling af navlinks, herunder fjerne link linjen og farve på fonts  */

.nav-links ul li a{
    color: #707070;
    text-decoration: none;
}

/* stylling af header-text på side "HOME" */

.header-text{
    padding: 13rem 3rem;
}

h1{
    font-family: 'Julius Sans One', regular;
    color: #707070;
    text-transform: uppercase;
}

p{
    font-family: 'Tajawal';
    color: #707070;
}

.header-text hr{
    width: 150px;
}

/* styling af SoMe ikoner */

.header-text img{
    padding-top: 20px;
    width: 30px;
}


/* TIL COMPUTER */

@media (min-width: 1000px) {

    /* STYLING TIL "HOME" */
    /* styling af header på "HOME" */

    header{
        display: block;
        background-image: url(img/header-background.png);
    }

    /* flytter navbaren */

    nav{
        padding: 2% 5% 2% 15%;
    }

      /* stylling af linksne, hvor placering der bliver mellemrum mellem de forskellig links*/

    .nav-links ul li{
        display: inline-block;
        padding: 7px 25px;
    }

    /* hover effekt på links*/

    ul li::after{
        content: '';
        width: 0%;
        height: 1px;
        background: #707070;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    
    ul li:hover::after{
        width: 100%;
    }

}